.sidebar-container {
  display: flex;
  width: var(--custom-width);
  min-width: 400px;
  max-width: calc(100vw - (100vh / 1.284));

  .divider.swap {
    order: 1;
  }
}

.sidebar {
  background-color: white;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  scrollbar-width: thin;

  .properties-header {
    font-size: 1.3rem;
    font-weight: bold;
    background-color: #f1f1f1;
    position: sticky;
    top: 0;
    z-index: 2;

    .header-buttons {
      display: flex;
      justify-content: space-evenly;
    }

    button {
      position: relative;
      min-height: 1.5rem;
      width: 100%;
      padding: 0.25rem 0;
      background-position: center;
      background-size: auto;
      background-repeat: no-repeat;
      border-bottom: 1px solid rgb(197, 197, 197);
    }

    button.active {
      border-bottom: 1px solid #5f8fbb;
    }

    button.active::after {
      position: absolute;
      left: 0;
      bottom: 0rem;
      background-color: #5f8fbb;
      content: "";
      width: 100%;
      height: 0.15rem;
    }

    .edit-general {
      background-image: url("../assets/account-outline.svg");
    }

    .edit-experience {
      background-image: url("../assets/briefcase-outline.svg");
    }

    .edit-education {
      background-image: url("../assets/school-outline.svg");
    }
  }
}

.sidebar-container.swap header {
  flex-direction: row-reverse;
}

.panel {
  position: relative;
  padding: 0.25rem 0.5rem;
  padding-bottom: 0rem;
  text-align: center;

  header {
    font-weight: bold;
    position: relative;

    h2 {
      position: relative;
      top: 0.9rem;
      z-index: 1;
      background-color: white;
      width: min-content;
      padding: 0 1rem;
      margin: 0 auto;
    }
  }

  label,
  header {
    margin-bottom: 0.25rem;
  }

  .confirm-delete {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 0.25rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;

    h2 {
      font-size: 1.2rem;
    }

    .buttons {
      display: flex;
      gap: 0.5rem;
    }

    button {
      position: relative;
      width: 4rem;
      height: 1rem;
      padding: 0.5rem 1rem;
      color: white;
      border-radius: 0.25rem;
      text-align: center;

      &:hover::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 0.25rem;
      }
    }

    .cancel {
      color: black;
      background-color: white;
      border: 1px solid gainsboro;
    }

    .delete {
      background-color: #ff4848;
      border: 1px solid #ff8d8d;
    }
  }

  .confirm-delete::after {
    z-index: -1;
    content: "";
    position: absolute;
    width: calc(100% + 2px);
    height: 3.5rem;
    left: -1px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
  }

  .confirm-delete::before {
    z-index: -2;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(37, 37, 37, 0.5);
    border-radius: 0.25rem;
  }

  .button-container.add-entry {
    width: min-content;
    white-space: nowrap;
    margin: 0 auto;
    border: 1px solid gainsboro;
    border-radius: 0.25rem;
  }

  button.add-entry {
    position: relative;

    padding: 0.5rem;
    padding-bottom: 0.35rem;
    padding-left: 2rem;

    &::before {
      position: absolute;
      content: "";
      width: 1rem;
      height: 2rem;
      top: 0;
      left: 0.5rem;
      background-image: url("../assets/plus-thick.svg");
      background-position: center;
      background-repeat: no-repeat;
    }

    &:hover::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.2);
      border-radius: 0.25rem;
    }
  }
}


.panel .entry {
  position: relative;
  border: 1px solid #b4b4b4;
  border-radius: 0.25rem;
  padding: 0.5rem;
  text-align: left;

  .entry-header {
    position: absolute;
    display: flex;
    top: .35rem;
    right: 0.5rem;
    gap: 0.5rem;
  }

  .entry-header button {
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;

    &:hover {
      background-color: gainsboro;
    }
  }

  button.settings:hover {
    background-color: rgb(255, 199, 199);
  }

  button::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
  }

  button.settings:after {
    background-image: url('../assets/trash.svg');
  }

  button.collapse:after {
    background-image: url('../assets/chevron-up.svg');
  }

  button.collapse.show:after {
    rotate: 180deg;
  }

  button.collapse,
  button.collapse.show {
    &::after {
      background-size: 140%;
    }
  }
}

.entry-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input,
textarea {
  font-size: 1rem;
  padding: 0.2ch 0.5ch;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 0.25rem;
  background-color: #f1f1f1;
  height: 2rem;
  padding: 0.5rem;

  &:focus {
    background-color: white;
  }
}

textarea {
  height: 100px;
}

.divider {
  position: relative;
  width: 2px;
  height: 100%;
  background-color: darkgray;
  cursor: ew-resize;
  pointer-events: all;
}

.divider:hover {
  background-color: black;
}

.divider.swap {
  order: -1;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

div.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}