.sidebar-container {
  display: flex;
  width: var(--custom-width);
  min-width: 400px;
  max-width: calc(100vw - (100vh / 1.284));

  .divider.swap {
    order: 1;
  }
}

.sidebar {
  background-color: white;
  width: 100%;

  .properties-header {
    font-size: 1.3rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(197, 197, 197);
    background-color: #f1f1f1;

    .header-buttons {
      display: flex;
      justify-content: space-evenly;
    }

    button {
      position: relative;
      min-height: 2rem;
      width: 100%;
      background-position: center;
      background-repeat: no-repeat;
      margin: 0.25rem 0;
    }

    button.active::after {
      position: absolute;
      left: 0;
      bottom: -0.25rem;
      background-color: #5f8fbb;
      content: "";
      width: 100%;
      height: 0.25rem;
    }

    .edit-general {
      background-image: url("../assets/account-outline.svg");
    }

    .edit-experience {
      background-image: url("../assets/briefcase-outline.svg");
    }

    .edit-education {
      background-image: url("../assets/school-outline.svg");
    }

    .edit-style {
      background-image: url("../assets/palette-outline.svg");
    }
  }
}

.sidebar-container.swap header {
  flex-direction: row-reverse;
}

.panel {
  position: relative;
  padding: 0.25rem 1rem;
  padding-bottom: 0rem;

  header {
    font-weight: bold;
    text-align: center;
  }

  label,
  header {
    margin-bottom: 0.25rem;
  }
}

.panel:has(.entry) {
  padding: 0.25rem 0.5rem;
}

.panel .entry {
  position: relative;
  border: 1px solid #b4b4b4;
  border-radius: 0.25rem;
  padding: 0.5rem;

  padding-bottom: 0rem;

  button {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-image: url('../assets/chevron-up.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    right: 0.5rem;
    top: 0.5rem;
  }

  button.show {
    rotate: 180deg;
  }
}

input,
textarea {
  font-size: 1rem;
  padding: 0.2ch 0.5ch;
  border: 1px solid rgb(197, 197, 197);
  border-radius: 0.25rem;
  background-color: #f1f1f1;
  height: 2rem;
  padding: 0.5rem;

  &:focus {
    background-color: white;
  }
}

input {
  margin-bottom: 0.5rem;
}

textarea {
  height: 400px;
  margin-bottom: 0.5rem;
}

.divider {
  position: relative;
  width: 2px;
  height: 100%;
  background-color: darkgray;
  cursor: ew-resize;
  pointer-events: all;
}

.divider:hover {
  background-color: black;
}


.divider.swap {
  order: -1;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

div.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}