.document {
  --accent-color: #5f8fbb;
  aspect-ratio: 1 / 1.284;
  height: 100vh;
  width: min-content;
  background-color: white;

  display: grid;
  grid-template-columns: 35% 1fr;
  gap: 1rem;
  font-size: var(--font-size);
  overflow: hidden;
}

button.add-entry-body,
button.add-entry-side {
  width: 3vw;
  height: 3vw;
  border-radius: 0.5rem;
  border: 1px solid darkgray;
  background-color: white;
  background-image: url('./assets/plus-thick.svg');
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: calc(50% - 1.5vw);
  margin-top: 1rem;
  opacity: 30%;
  visibility: hidden;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;

  &:hover {
    opacity: 100%;
  }
}

main:hover {
  >button.add-entry-body {
    visibility: visible;
  }
}

aside:hover {
  >button.add-entry-side {
    visibility: visible;
  }
}

aside {
  padding: 2rem;
  background-color: var(--accent-color);
  background-color: var(--aside-color);
  color: white;

  section {
    margin-bottom: 1rem;

    h3 {
      font-size: calc(var(--font-size) * 1.4);
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }

  .separator {
    border-bottom: 1px solid white;
    width: calc(100% - 1rem);
    margin-left: 0rem;
  }
}

main {
  padding: 1rem;

  header {
    h1 {
      font-size: calc(var(--font-size) * 3.4);
    }

    h2 {
      font-size: calc(var(--font-size) * 1.6);
    }

    margin-bottom: 3rem;
  }

  section {
    margin-top: 1rem;

    h3 {
      font-size: calc(var(--font-size) * 1.4);
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
  }

  .separator {
    border-bottom: 1px solid black;
    width: calc(100% - 1rem);
    margin-left: 0rem;
  }
}

aside,
main {
  ul {
    list-style: initial;

    li {
      margin: 0.5rem 1rem;
    }
  }
}

.avatar {
  aspect-ratio: 1/1;
  border-radius: 100%;
  background-color: rgb(221, 221, 221);
  background-image: url('./assets/avatar-placeholder.jpg');
  background-position: center;
  background-size: contain;
  border: 0.25rem solid white;
  margin-bottom: 2rem;
  cursor: pointer;
}

.avatar:hover {
  background-blend-mode: multiply;
}

section,
header {
  position: relative;
}

section.headless {
  >.separator {
    display: none;
  }
}

section:hover::after {
  position: absolute;
  width: calc(100% + 1rem);
  height: calc(100% + 1rem);
  top: -0.5rem;
  left: -0.5rem;
  content: '';
  border: 2px dashed black;
  border-radius: 0.5rem;
}

.edit-buttons {
  z-index: 1;
  position: absolute;
  display: flex;
  gap: .5rem;
  top: 0rem;
  right: 0rem;

  button {
    width: 0.5rem;
    height: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 75%;
    border: 1px solid darkgray;
    border-radius: 0.25rem;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  }

  .edit {
    background-image: url('./assets/edit.svg');

    &:hover {
      background-color: gainsboro;

      &::after {
        content: "Edit Entry";
        color: black;
      }
    }
  }

  .delete {
    background-image: url('./assets/trash.svg');

    &:hover {
      background-color: IndianRed;

      border: 1px solid gray;

      &::after {
        content: "Delete Entry";
        color: black;
      }
    }
  }
}

.edit::after,
.delete::after {
  position: absolute;
  top: -2.5rem;
  right: -0.5rem;
  white-space: nowrap;
  background-color: white;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: 1px solid darkgray;
}