.sidebar-container {
  display: flex;
  width: var(--custom-width);
  min-width: 400px;
  max-width: calc(100vw - (100vh / 1.284));

  .divider.swap {
    order: 1;
  }
}

.sidebar {
  background-color: white;
  width: 100%;

  header {
    border-radius: 0.5rem 0.5rem 0 0;
    background-color: snow;
    border-bottom: 1px solid lightgray;

    button {
      background-image: url('./assets/swap-horizontal.svg');
      width: 1rem;
      height: 1rem;
      margin: 0.3rem;
      background-color: white;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 120%;
      border: 1px solid darkgray;
      border-radius: 0.25rem;
      box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    }
  }
}

.panel {
  padding: 1rem;
  margin: 1rem;
  background-color: snow;
  border: 1px solid gainsboro;
  border-radius: 0.25rem;
  box-shadow: rgba(14, 63, 126, 0.06) 0px 0px 0px 1px, rgba(42, 51, 70, 0.03) 0px 1px 1px -0.5px, rgba(42, 51, 70, 0.04) 0px 2px 2px -1px, rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px, rgba(42, 51, 70, 0.03) 0px 5px 5px -2.5px, rgba(42, 51, 70, 0.03) 0px 10px 10px -5px, rgba(42, 51, 70, 0.03) 0px 24px 24px -8px;

  h1 {
    font-size: 0.8rem;
    text-align: center;
    margin-top: -0.75rem;
    margin-bottom: -0.75rem;
  }
}

.panel.empty {
  display: flex;
  align-items: center;
  color: darkgray;
  justify-content: center;
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.text-input-container {
  display: flex;
  flex-direction: column;

  input {
    max-width: 25ch;
    height: 1.75rem;
  }
}

label,
legend {
  font-size: 0.8rem;
  margin-bottom: 0.25rem;
}

textarea {
  min-width: 100%;
  height: 20ch;
}

input,
textarea {
  font-size: 1rem;
  padding: 0.2ch 0.5ch;
}

.separator {
  width: calc(100% - 2rem);
  border-bottom: 1px solid darkgray;
  margin: 1rem;
}

.divider {
  position: relative;
  width: 2px;
  height: 100%;
  background-color: darkgray;
  cursor: ew-resize;
  pointer-events: all;
}

.divider:hover {
  background-color: black;
}


.divider.swap {
  order: -1;
}

fieldset {
  position: relative;
  border: none;
  padding-bottom: 2.25rem;

  ul {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0.25rem;

    textarea {
      width: 100%;
      height: 1.75rem;
      overflow: hidden;
      resize: vertical;

      &:focus {
        height: 5rem;
        overflow: auto;
      }
    }

    ::marker {
      color: darkgray;
      margin: 0;
    }
  }

  button.insert {
    position: absolute;
    width: calc(100% - 0.75rem);
    height: 1.75rem;
    left: 50%;
    bottom: 1.25rem;
    transform: translateX(-50%) translateY(50%);
    border-radius: 0.2rem;
    border: 1px solid darkgray;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px 1px inset;

    /* background-image: url('./assets/plus-thick.svg'); */
    &::after {
      position: absolute;
      width: 1rem;
      height: 1rem;
      content: '';
      left: 50%;
      bottom: 50%;
      transform: translateX(-50%) translateY(50%);
      background-image: url('./assets/plus-thick.svg');
      opacity: 70%;
    }
  }

  button.insert:hover {
    background-color: rgb(247, 247, 247);

    &::after {
      opacity: 100%;
    }
  }
}